.container {
  width: 748px;
  margin: auto;
}
.main {
  min-height: 500px;
}
@media only screen and (max-width: 767px) {
  .container {
    width: 100%;
  }
}
header {
  color: #fff;
  background-color: #222;
  height: 60px;
  line-height: 80px;
  font-size: 24px;
}
header .logo {
  background-color: #fff;
  background-image: url('../img/marvel-logo.png');
  width: 147px;
  height: 60px;
  margin-right: 10px;
  float: left;
}
@media only screen and (max-width: 767px) {
  header {
    font-size: 18px;
    line-height: 85px;
  }
}
footer {
  background-color: #222;
  color: #929292;
  font-size: 13px;
  min-height: 50px;
  line-height: 50px;
  text-align: center;
}
footer a {
  color: #929292;
}
footer a:hover {
  color: #fff;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', Helvetica, sans-serif;
  font-size: 17px;
  color: #111;
}
h1 {
  text-transform: uppercase;
}
a {
  -webkit-transition: all .2s;
  transition: all .2s;
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #f30b0a;
}
@media only screen and (max-width: 767px) {
  h1 {
    padding-left: 10px;
    font-size: 24px;
  }
}
.character-list {
  width: 60%;
  margin: auto;
  border: none;
  border-spacing: 0;
  margin-bottom: 50px;
}
.character-list tr:hover a {
  color: #f30b0a;
}
.character-list tr:hover td:before {
  width: 115%;
}
.character-list td {
  position: relative;
  padding: 4px 0;
  margin: 0;
  font-size: 20px;
}
.character-list td a {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 45px;
}
.character-list td:first-child {
  width: 110px;
}
.character-list td:first-child a {
  line-height: 0;
}
.character-list td:first-child img {
  border-radius: 5px;
  margin-left: 25px;
}
.character-list td:before {
  -webkit-transition: all .2s;
  transition: all .2s;
  content: "";
  background: #000;
  position: absolute;
  top: 0;
  height: 92%;
  width: 101%;
  z-index: -1;
  -webkit-transform: skew(-11deg, 0deg);
  -ms-transform: skew(-11deg, 0deg);
  transform: skew(-11deg, 0deg);
}
@media only screen and (max-width: 767px) {
  .character-list {
    width: 100%;
    border-spacing: 0 5px;
  }
  .character-list td {
    background-color: black;
    margin-bottom: 10px;
  }
  .character-list td:before {
    display: none;
  }
}
.character-detail {
  padding: 10px 0;
}
.character-detail a {
  color: #111;
}
.character-detail a:hover {
  color: #f30b0a;
}
.character-detail h1 {
  margin: 0;
}
.character-detail h2 {
  margin: 0;
}
.character-detail img {
  float: left;
  margin: 10px 20px 0 0;
}
@media only screen and (max-width: 767px) {
  .character-detail {
    padding: 10px 10px;
  }
  .character-detail h1 {
    padding: 0;
  }
  .character-detail img {
    width: 150px;
    float: none;
  }
}
