<div class="character-detail">
    <a href="#/characters">Back</a>
    <div>
        <img ng-src="{{character.thumbnail.path}}/portrait_uncanny.jpg"/>
    </div>
    <div>
        <h1>{{character.name}}</h1>
        {{character.description}} <br/><br/>
        <strong>Comics:</strong> {{character.comics.available | number}} <br/>
        <strong>Series:</strong> {{character.series.available}} <br/>
        <strong>Stories:</strong> {{character.stories.available}} <br/>
        <br/>
        <a href="{{character.urls[0].url}}">Comics List</a><br/>
        <a href="{{character.urls[1].url}}">Character Wiki</a>
    </div>
</div>